body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    height: 100%;
  }
.header {
  overflow: hidden;
  background-color: #669068;
  padding: 10px 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.container {
  display: flex;
  width: 100vh;
  }
.horse {
  width: 200px;
}
.outer-box {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid black;
  width: 75%;  
  }
.box {
  background-color: #f4f4f4;
  padding: 5px;
  border-radius: 10px;
  border: 0px solid #ffffff;
}
.cart {
  margin: 5px;
  font-size: 16px;
  text-align: right;
}
.btn-cart {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.btn-cart:hover {
  color: white;
  font-weight: bold;
}
.buy-btn {
  color: black;
  font-size: 14px;
  background-color: #46a049;
  border: 0px;
  border-radius: 10px;
  padding: 5px;
}
.buy-btn:hover {
  background-color: #417743;
  color: white;
}