body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
  overflow: hidden;
  background-color: #669068;
  padding: 10px 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

h2, h4 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

.horseCard {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  justify-content: center; 
}

.box {
  background-color: #f4f4f4;
  padding: 5px;
  border-radius: 10px;
  border: 0px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.horse {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto; 
}

.outerBox {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 20px auto; 
  padding: 10px;
  border: 1px solid black;
  width: 75%;
  flex-wrap: wrap; 
}

.cart {
  margin: 5px;
  font-size: 16px;
  text-align: right;
}

.btnCart {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btnCart:hover {
  color: white;
  font-weight: bold;
}

.btnBuy {
  width: 100px;
  color: black;
  font-size: 14px;
  background-color: #46a049;
  border: 0px;
  border-radius: 10px;
  padding: 5px;
}

.btnBuy:hover {
  background-color: #417743;
  color: white;
}

/* Cart page css */
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 10px;
  border: 0px solid black;
}
.btnShop {
  border: 1px solid #417743;
  background-color: #f4f4f4;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.btnShop:hover {
  background-color: #417743;
  color: white;
  font-weight: bold;
}

.summary {
  grid-column-start: 5;
  grid-column-end: 7;
  height: fit-content;
  margin: 10px;
  background-color: #ffffff;
  border: 1px dashed rgb(192, 36, 36);
}

.summaryTitle {
  margin: 0;
  padding: 5px;
  background-color: rgb(193, 188, 188);
  border-bottom: 1px dashed rgb(192, 36, 36);;
}

.summaryBody {
  background-color: #ffffff;
  padding: 10px;
  border: 0px solid black;
}

.cartContent {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 10px;
  background-color: #ffffff;
  border: 1px dashed rgb(192, 36, 36);
}
.cartContentTitle {
  margin: 0;
  padding: 5px;
  background-color: rgb(193, 188, 188);
  border-bottom: 1px dashed rgb(192, 36, 36);;
}
.cartImage {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0; 
}

.cartHorseCard {
  background-color: white;
  padding: 5px;
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  justify-content: left; 
  border-bottom: 1px dashed black;
}
.cartHorseCard:last-child {
 border-bottom: none;
}

.cartContentItemText {
  align-items: left;
  width: 50%;
  background-color: white;
  padding: 5px;
  border-radius: 10px;;
}
.cartContentItemPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-weight: bold;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

.cartContentItem {
  align-items: left;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border: 0px solid #c91d1d;
}

.backLink {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 200px;
  height: 100px;
}
